######################################################################
# MKS Mini 12864 v3 Display for Sovol SV08
######################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,    # Slot in the socket on this side
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,    # Slot in the socket on this side
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
## Some boards may require hardware spi or software spi:
# spi_bus: spi1
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel mks_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: 0.1
initial_GREEN: 0.5
initial_BLUE: 0.0
color_order: RGB

#  Set the display backlight to green on startup
[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
        SET_LED LED=mks_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=mks_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
        SET_LED LED=mks_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=3 TRANSMIT=1

[output_pin beeper]
pin: EXP1_1